body, html {
     margin: 0;
     overflow-x: hidden;
 }

body, html,
.container-fluid {
    padding: 0;
}

body, html,
iframe, footer,
.actualite img,
.festimg,
.separation,
.jumbotron {
    width: 100%;
}

.logo {
    width: 5%;
}

.jumbotron {
    background-image:url("../images/atop.jpg");
    text-align: center;
    min-height: 300px;
}

nav {
    max-height:7%;
}

.cover {
    max-height: 210px;
    max-width: 150px;
}

.actualite img {
    max-height: 225px;
}

.separation {
    height: 5px;
}

.article-meta {
    margin-bottom: 2px;
}

.lead a {
    margin-top: 2%;
}

.actualite h3 {
    margin-top: 10px;
}

footer,
.separation,
.jumbotron {
    background-size: cover;
}

.article-text {
    text-align: justify;
}

.politique{
    text-decoration: underline;
}

.actualite {
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.2);
    padding: 10px;
    margin-top: 30px;
    background-color: #fff;
    max-width: 350px;
}

.jumbotron h1,
.jumbtext {
    text-shadow: black 0.1em 0.1em 0.2em;
}

.actualite span {
    float: right;
    color: cornflowerblue;
}

body,
.bg-light,
.nav-pills .pillcolor .nav-link:not(.active){
    background-color: #f9f9f9;
}

.nav-pills .pillcolor .nav-link,
.btn-secondary:hover,
.jumbtext {
    color: white;
}

.nav-pills .pillcolor .nav-link:not(.active):hover {
    background-color: #f2f2f2;
}

.separation, .btn-danger,
.nav-pills .pillcolor .nav-link,
.btn-secondary:hover {
    background: #c4161d;
}

.navbar-light .navbar-nav .nav-link i:hover,
.navbar-light .navbar-nav .nav-link i:focus,
.nav-pills .pillcolor .nav-link:not(.active),
.actualite h3, h2,
.navbar-light .navbar-brand:hover {
    color: #c4161d;
}

h3, p,
.nav-link i,
.navbar-light .navbar-brand {
    color: #444444;
}

footer {
    background-color: #444444;
}

.article-text,
.article-meta,
.actualite span {
    font-size: 0.75rem;
}

.navbar-brand, h2 {
    font-size: 1.5rem;
}

.jumbotron h1 {
    font-size: 2.5rem;
}

.jumbtext, h3,
.fab {
    font-size: 1.1rem;
}

.navbar-brand,
.jumbotron h1, h2 {
    font-family: lobster ,Roboto,sans-serif;
}


@media screen and (min-width: 1024px) {
    .separation {
        background: url("../images/bobine-film.jpg")top fixed;
        height: 150px;
    }
    .jumbotron {
        height: 550px;
        min-height: 400px;
    }
    .article-text,
    .article-meta {
        font-size: 0.9rem;
    }
    .fab{
        font-size: 1.8rem;
    }
    .jumbotron h1 {
        font-size: 4rem;
    }
    h2, .navbar-brand {
        font-size: 2rem;
    }
}